.footer {
  background-color: #242424;
  margin-top: 20px;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footerSection {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.footerSection img {
  margin-top: 50px;
}

.footerSection p {
  color: rgb(242, 242, 242);
  text-decoration: none;
}

.footerSection a {
  color: rgb(242, 242, 242);
  padding-bottom: 10px;
}

.footerSection a:hover {
  color: rgba(212, 255, 64, 0.87);
  text-decoration: none;
}

.footerSection .copy {
  color: rgba(212, 255, 64, 0.87);
  font-size: 14px;
}

.socialNetworks {
  margin-top: 5px;
  text-decoration: none;
  width: 20px;
  vertical-align: middle;
}

.socialIcon {
  width: 30px;
  height: auto;
}

@media screen and (min-width:320px) and (max-width: 768px) {
  .footer {
    background-color: #242424;
    margin-top: 20px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .footerSection img {
    margin-top: 10px;
    width: 50%;
    height: auto;
    align-items: center;
  }
}