.list {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    justify-content: center;
}

.list .product {
    margin: 10px;
    padding: 20px; 
    width: auto;
    height: auto;
    border: 3px solid rgba(0, 31, 85, 0.2);
    border-radius: 15px;
    background-color: rgb(246, 246, 246);
}

.list .product li:only-child {
    font-size: 3px;
    text-align: center;
}

.list .product li:nth-child(1) {
    color: #242424;
    font-size: 12px;
    font-weight: bold;
}

.list .product li:nth-child(2) {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.list .product li:nth-child(5) {
    color: #007bff;
    font-weight: bold;
    font-size: 18px;
    margin-top: 12%;
}

.list .productButton {
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:#242424;
    border: 3px solid rgba(0, 31, 85, 0.2);
    background-color: rgb(242, 242, 242);
    border-radius: 50px;
    cursor: pointer;
    margin: 20px auto 0;
}

.list .productButton:hover {
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border: 3px solid rgba(0, 31, 85, 0.2);
    background-color: #515676;
    color: rgba(222, 241, 134);
    border-radius: 50px;
    cursor: pointer;
    margin: 20px auto 0;
}

.list .product img {
    width: 80%;
    height: 80%;
    margin-left: 35px;
}

@media only screen and (max-width: 768px) {
    .list {
        grid-template-columns: auto;
        margin-left: 0;
    }

    .list .product {
        margin: 10px 10px;
    }
}