.navbar {
    background-color: rgb(36, 36, 36);
    text-align: center;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.linkCustom {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
}

.linkCustom:hover {
    text-decoration: none;
    color: rgba(212, 255, 64, 0.87);
    border-bottom-style: solid;
    border-bottom-color: rgba(212, 255, 64, 0.87);
}

.linkCustomA {
    display: none;
}

.linkCustomB {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
}

.linkCustomB:hover {
    text-decoration: none;
    color: rgba(212, 255, 64, 0.87);
    border-bottom-style: solid;
    border-bottom-color: rgba(212, 255, 64, 0.87);
}

@media screen and (min-width:320px) and (max-width: 768px) {
    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .linkCustomA {
        display: flex;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.87);
    }

    .linkCustomA:hover {
        text-decoration: none;
        color: rgba(212, 255, 64, 0.87);
        border-bottom-style: solid;
        border-bottom-color: rgba(212, 255, 64, 0.87);
    }

    .linkCustomB {
        display: none;
    }
}